<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDz6p0Pp5B_fgEhN5LrYOcJhbtj7I-ZHpY</string>
	<key>GCM_SENDER_ID</key>
	<string>602463868051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tasyaglk.MentorMatch</string>
	<key>PROJECT_ID</key>
	<string>mentormatch-329c9</string>
	<key>STORAGE_BUCKET</key>
	<string>mentormatch-329c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602463868051:ios:a8b8728014a5eeb9cc6966</string>
</dict>
</plist>